.companies-container {
  margin: 24px 16px 0;
  overflow: initial;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  min-height: 90vh;
}

.company {
  margin: 15px;
}

.companies-no-result {
  margin: auto;
  font-size: 20px;
}
